#header{height: 80px;}
#header .header-logo{margin-left: 46px;}
#header .header-nav{line-height: 77px;text-align: center; display: flex;justify-content: space-between;}
#header .header-nav li{width: 150px; }
#header .header-nav a:hover{ color: #866961;border-bottom:3px #866961 solid ;}
#header .header-nav li a{display: block; color: #333333;font-size:20px ;}
.bannerbox {width: 100%;top: -10px; overflow: hidden;position: relative;}			
.Homebanner{width:500%;/* overflow: hidden; */position: relative;left: 0;transition: all 2s;}	
.Homebanner>img {height: 600px; float: left;width: 20%;}
.bannerbox>button { width: 42px;height: 69px;border: 1px solid #000;background: rgba(0, 0, 0, .5); font-size: 36px; /* border-radius: 50%; */color: #fff;cursor: pointer;outline: none;position: absolute;top: 50%;opacity: .0;margin-top: -20px;}
.bannerbox>button:nth-of-type(1) {left: 20px;}
.bannerbox>button:nth-of-type(2) {right: 20px;}
.bannerbox>button:hover { opacity: .8; background: rgba(0, 0, 0, .7);}
.bannerbox>button:active { opacity: .8; background: rgba(0, 0, 0, .9);}
.marright{margin-right: 0px !important;opacity: 1 !important;}
 .marleft{margin-left: 0px !important;opacity: 1 !important;}
.Homedot{position:absolute;z-index:5;  left: auto; left: 880px; bottom: 20px; text-align: right;}
.Homedot a{ display: block; float: left; width: 20px; height: 20px; border: 2px solid #fff; border-color: hsla(0,0%,100%,.3); border-radius: 10px; overflow: hidden;
background: rgba(0,0,0,.4); opacity: 1;margin: 0 4px;}
.Homedot a.cur{background: hsla(0,0%,100%,.4); border-color: rgba(0,0,0,.4);}
#contact{margin-bottom: 55px;}
#contact .contact-title{margin: 35px 100px 19px 100px;border-bottom:1px #d5d5d5 solid ;  width: 995px;height: 36px;}
#contact .contact-title .left{height: 35px;position: relative;top:-4px;}
#contact .contact-title .left .text {height: 100%; display: flex;display: inline-block; }
#contact .contact-title .left .text span{position: relative;top:-9px;left: 2px;}
#contact .contact-title .left .text p:nth-of-type(1){font-size: 16px;color: #333333;text-indent: 10px;}
#contact .contact-title .left .text p:nth-of-type(2){font-size: 12px;color: #e3e3e3;position: relative;top:-9px;}
#contact .contact-title .right{margin-top: 14px;}
#contact .content{margin:0px 100px 55px 100px;width: 995px;}
#contact .content   .contact_text{width: 1100px; margin:52px 0px 0px 0px ;}
#contact .content .contact_text .text:nth-of-type(1){margin-left: 16px;}
#contact .content .contact_text .text:nth-of-type(2){margin-left: 10px;}
#contact .content .contact_text .text:nth-of-type(3){margin-left: 43px;}
#contact .content .contact_text .text .t{margin-left: 14px;;}
#contact .content .contact_text .text .t .t-te{height: 40px;}
#contact .content .contact_text .text .t .t-te span{position: relative;top:-12px;left: 2px;}
#contact .content .contact_text .text .t .t-te p:nth-of-type(1){font-size: 20px;color: #333333;text-indent: 10px;}
#contact .content  .contact_text .text .t .t-td{margin-top: 30px;}
#contact .content  .contact_text .text .t .t-te p:nth-of-type(2){font-size: 14px;color: #999999;position: relative;top:-9px;}
#contact .content  .contact_text .text .t .t-td p:nth-of-type(1){font-size: 14px;color:#333333;}
#contact .content  .contact_text .text .t .t-td p:nth-of-type(2){font-size: 14px;color:#999999;}
#foot{width: 100%; height: 80px;background-color: #866961;}
#foot .foot_text{ display: flex;justify-content: space-between;align-items: center;}
#foot .foot_text p{font-family: 黑体; margin-left: 67px;line-height: 80px;text-align: center;color: #f0eeed;}
#foot .foot_text img{width: 142px; height: 52px; margin-right: 240px;margin-top: 10px;}